* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
}
nav {
  /* border: 2px solid; */
  background-color: #f0ecff;
  padding-block: 1rem;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.genLayout {
  max-width: 1000px;
  margin: auto;
}

.innerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.innerNav > h1 {
  color: #674ac7;
  text-transform: capitalize;
  font-weight: 700;
}
.innerNav > h1 > span {
  color: #f6d69d;
}

.navItems {
  width: 600px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.navItems > a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
}
/* #f6f3ff; */
.navItems > a:first-child {
  color: #755bcd;
  font-weight: 600;
}
.hamburger,
#toggle {
  display: none;
}

/* banner styling */
.secOne {
  background-color: #f6f3ff;
  padding-block: 7rem;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bannerContent {
  border: 2px solid red;
}

.bannerImg,
.aboutImg {
  background-color: #fbc449;
  height: 50vh;
  width: 40%;
}

.bgBlue {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  margin-left: 2rem;
  background-color: #674ac7;
}
.bgBlue > img,
.aboutImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* styling for services  */

.services {
  display: flex;
  margin-top: -3rem;
  justify-content: space-between;
}

.serviceCard {
  background-color: #fff;
  width: 200px;
  height: 200px;
  box-shadow: 2px 3px 10px;
}

.about {
  display: flex;
  padding-block: 3rem;
  gap: 4rem;
  
  /* flex-direction: row-reverse; */
  align-items: center;
}

.aboutImg {
  background-color: #e3e3e3;
}

.aboutContent > h6{
    text-transform: capitalize;
}

.aboutContent > h2{
    text-transform: capitalize;
    font-size: 2.2rem;
    width: 400px;
}

.aboutContent>p{
    margin-block: .6rem;
    opacity: .4;
}

.progress{

    width: 100%;
}
.progressInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.progressInfo>h4{
    text-transform: capitalize;
}

.progress>input{
    width: 100%;
}

.aboutContent>button{
    margin-top: 1rem;
    background-color: #674ac7;
    padding: .4rem 1rem;
    color: #fff;
    border: none;
    text-transform: capitalize;
    border-radius: 5px;
}
.aboutContent>button:hover{
    cursor: pointer;
}

/* responsive code */
@media (min-width: 260px) and (max-width: 460px) {
  .innerNav {
    /* border: 2px solid; */
    width: calc(100% - 30px);
  }

  .hamburger {
    display: block;
    font-size: 22px;
    font-weight: 900;
    color: #674ac7;
  }

  .navItems {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .navItems > a {
    width: 100%;
    color: #000;
    font-size: 18px;
    padding: 0.6rem;
    text-align: left;
    border-bottom: 4px solid #674ac7;
  }

  .navItems > a:last-child{
    margin-bottom: 1.5rem;
  }

  /* .navRight {
    display: none;
  } */
  .navRight {
    /* display: none; */
    position: absolute;
    width: 340px;
    padding: 1.8rem;
    top: 4.4rem;
    right: 3px;
    z-index: 1;
    background-color: #f0ecff;
    opacity: .97;
    border-bottom: 4px solid #fbc449;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #toggle:checked + .navRight {
    display: block;
    transform: none;
  }


  .banner {
    flex-direction: column-reverse;
    gap: 3.5rem;
  }

  .bannerImg,
  .bannerContent {
    width: calc(100% - 30px);
  }

  .services {
    border: 2px solid blue;
    width: calc(100% - 30px);
    flex-direction: column;
    gap: 20px;
  }

  .serviceCard {
    width: 100%;
  }

  .about{
    flex-direction: column;
  }

  .aboutImg{
    width: 70%;
    /* width: calc(100% - 30px); */
  }

  .aboutContent{
    width: calc(100% - 30px);
  }
  .progress{
    margin-top: 2rem;
  }
}
